* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    max-width: 1920px;
    width: 100%;
    height: 48px;
}

.tophead {
    width: 100%;
    height: 100%;
    background-color: dimgray;
    justify-content: center;
}

.tophead ul li a {
    text-decoration: none;
    text-transform: lowercase;
    color: #232323;
}

ul li {
    display: inline;
    justify-items: center;
}

.tophead>ul>li+li {
    margin-left: 16px;
}

.tophead ul li:first-child {
    float: left;
    padding-left: 0;
}